<!DOCTYPE html>
<html>
  <head>
    <title>AngularFire</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-rc.1/angular.min.js"></script> 

  </head>
  <body>
    <h1>{{jsVariable}}</h1>
    <p>Welcome to my AngularFire project</p>

    <!-- Scripts -->
    <script src="/javascripts/myApp.js"></script>
    <script src="/javascripts/myController.js"></script>    
  </body>
</html>
