<!DOCTYPE html>
<html ng-App="myApp">
  <head>
    <title>AngularFire</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.js"></script> 

  </head>
  <body ng-controller="myCtrl">
    <h1>{{jsVariable}}</h1>
    <p>Welcome to my AngularFire project</p>

    <!-- Scripts -->
    <script src="/javascripts/app.js"></script>
    <script src="/javascripts/ctrl.js"></script>    
  </body>
</html>
